*
{ 
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h2
{
	font-weight: normal;
	font-size: 15px;
	border-bottom: 3px solid #99E2D0;
	width: 36px;
    margin-top: 25px;
    margin-left: 10px;
}

p
{
	color: black;
	font-size: 14px;
}

span
{
	font-weight: bold;
	font-size: 15px;
}

header
{
	display: flex;
	padding: 10px;
	align-items: center;
	z-index: 1000;
	position: relative;
	box-shadow: 0px 0px 5px grey;
}

header i
{
	font-size: 25px;
	color: black;
}

header h1
{
	text-align: center;
}

.logo
{
	width: 165px;
	margin: auto;
}

.image_fond img
{
	width: 100%;
    height: 235px;
	object-fit: cover;
    z-index: 1;
    margin-bottom: -35px;
}

.nom_restaurant
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nom_restaurant h1
{
	font-family: 'Shrikhand', cursive;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 15px;
}

.menu
{
	padding: 10px;
	background-color: #F2F2F2;
	border-radius: 30px 30px 0 0;
    z-index: 2;
    position: relative;
}

.heart i
{
	font-size: 25px;
}

.heart i:hover
{
	background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    cursor: pointer;
}

.details_menu
{
	margin: 10px;
	padding: 10px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 5px grey;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.nom_assiettes p, .txt_overflow
{	
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details_menu:hover
{
	transform: scale(1.01);
	transition-duration: 300ms;
	cursor: pointer;
}

.nom_assiettes
{
    overflow: hidden;
    text-overflow: ellipsis;
	flex-wrap: nowrap;
}

main a
{
	color: white;
}

main a :hover 
{
	filter: brightness(1.1);
	box-shadow: 3px 3px 10px grey;
	transition-duration: 300ms;
}

.btn_commander
{
	background: linear-gradient(to bottom right, #FF79DA, #9356DC);
	border-radius: 25px;
	padding: 15px 35px;
	margin: 20px auto;
	box-shadow: 0px 0px 10px grey;
	width: min-content;
}

footer
{
	background-color: #353535;
	padding: 15px;
}

.footer_title
{
	color: white;
	font-family: 'Shrikhand', cursive;
	margin-bottom: 10px;

}

footer a
{
	color: white;
}

footer li 
{
	margin-bottom: 5px;
}

footer li :hover
{
	text-decoration: underline white;
}

footer ul
{
	list-style-type: none;
}

footer i 
{
	font-size: 13px;
	margin-right: 5px;
	width: 12px;
}

@media all and (min-width: 768px)
{
	.nom_restaurant
	{
		justify-content: normal;
	}

	.heart
	{
		padding-left: 30px;
	}

	.all_menu
	{
		display: flex;
		flex-wrap: wrap;
	}

	.liste_menu
	{
		width: 50%;
	}
}

@media all and (min-width: 1024px)
{
	.all_menu
	{
		flex-wrap: nowrap;
	}
}